article {
    margin: auto;
    display: grid;
    background-color: gray;
    gap: 0.5rem;
    padding: 0.5rem;
    user-select: none;
}

aside {
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    background-color: lightgray;
    position: relative;
}

p {
    position: absolute;
    height: 100%;
    width: 100%;
}

.cover {
    background-color: rgb(46, 74, 199);
    height: 100%;
    width: 100%;
    position: absolute;
}